# Treat Gradle files as Kotlin (if using Kotlin DSL)
*.gradle linguist-language=Kotlin

# Treat Gradle Kotlin DSL files as Kotlin
*.gradle.kts linguist-language=Kotlin

# Treat SQL files as SQL
*.sql linguist-language=SQL

# Treat XML files as XML
*.xml linguist-language=XML

